* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
}

h1 {
  margin-bottom: 4px;
}

h2 {
  color: black;
  font-weight: 900;
  margin: 0;
}

h3 {
  font-weight: 900;
  font-size: 1.5rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  margin: 0;
  color: white;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

p {
  color: black;
  font-size: 1.4rem;
}

.fa-utensils {
  color: white;
  padding-right: 0.8rem;
}

.fa-hands-helping {
  color: white;
  padding-right: 0.3rem;
}

header {
  padding: 0.5rem 0 0 0;
  margin-bottom: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  text-align: center;
}

#header_logo {
  font-family: Shrikhand, "cursive";
  text-align: center;
}

.Header_logo {
  font-family: Shrikland, "cursive";
  text-align: center;
}

.MenuAccueil {
  width: 100%;
  background-color: #f3f2f2;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
}

.MenuAccueil p {
  text-align: center;
}

.reservation {
  width: 100%;
  justify-content: space-around;
  text-align: center;
  background-color: #e9e9e9;
}

.reservation_local {
  padding: 1rem;
  font-size: 1.2em;
}

.reservation_local--fas {
  font-size: 1.2em;
}

.reservation_local span {
  padding-left: 0.5rem;
}

.btn {
  border: 0;
  border-radius: 1.5rem;
  padding: 0.75rem 1rem;
  color: white;
  background-color: #FF79DA;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition-duration: 0.25s;
}
.btn:hover {
  transform: scale(1.13);
}

.FonctionTitre {
  padding: 1rem;
  margin-left: 10px;
  font-weight: 900;
  font-size: 1.2rem;
}

.container_Filtres {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Fonction_Block {
  display: flex;
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: #f6f6f6;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 2rem;
}

.Fonction_Block:hover {
  background-color: #e8c8f8;
  transform: scale(1.03);
}

.Fonction_Block--numero {
  background: #c76dcf;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.Fonction_Block span {
  margin-left: -2rem;
}

.Fonction_Block--icone {
  padding: 0.2rem 1.2rem 0 1.2rem;
}

.Fonction_Block--Titre {
  padding: 0.2rem 1.5rem 0 0.5rem;
}

.Fonction_Block--Titre span {
  padding: 0.2rem 0 0 2.8rem;
}

.Restaurants--Titre {
  padding: 1rem;
  margin-left: 10px;
  font-weight: 900;
  font-size: 1.2rem;
}

.Restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

.Restaurants_Carte {
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  margin: 0.5em;
  position: relative;
}

.Restaurants_Carte--tag {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

#Restaurants_Carte--img {
  border-radius: 1.25em 1.25em 0 0;
  object-fit: cover;
  width: 240px;
  height: 140px;
}

.Restaurants_Carte--img {
  max-width: 100%;
  height: auto;
}

.Restaurants_Carte--Texte {
  padding: 1rem;
  position: relative;
  align-items: center;
}

.Restaurants_Nom {
  flex: 1;
}

.fa-heart {
  display: flex;
  position: relative;
  z-index: 1;
}
.fa-heart:hover::after {
  opacity: 1;
}
.fa-heart::after {
  content: "";
  position: absolute;
  background: radial-gradient(circle, #ce80d5 0%, #b847c2 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.fa-heart {
  display: flex;
}

footer {
  background-color: #353535;
  padding: 1rem 0 1rem 0;
}

.footer_logo {
  object-fit: cover;
  font-size: 0.9rem;
  color: #fff;
  font-family: Shrikhand, "cursive";
  padding: 0.2rem 0 0 1rem;
}

.Footer_Menu {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0.2rem 0 0 1rem;
}

.Footer_Mention {
  padding: 0.2rem 0 0 1rem;
}

.Menu-block {
  padding: 0px 30px 0px 10px;
  margin: 15px;
  box-shadow: 2px 2px 5px 2px #dddddd;
  background-color: white;
  border-radius: 15px;
  animation: box-appear 2.5s;
  overflow: hidden;
}

.Menu-block_suite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.Menu-block h3 {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin: 15px 0px 0px;
}

.btn--commander {
  display: block;
  margin: 40px auto 70px;
  padding: 15px 50px;
}

.main-section {
  margin-top: -30px;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0px 0px;
}

.Titre_Restaurant {
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
  font-family: "Shrikhand";
  margin-top: 20px;
}

/*# sourceMappingURL=style.css.map */
