@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
}

h1 {
  margin-bottom: 4px;
  font-family: Shrikhand, "cursive";
}

h2 {
  color: black;
  font-weight: 900;
  margin: 0;
}

h3 {
  font-weight: 900;
  font-size: 1.5rem;
}

h4 {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0;
  padding-bottom: 10px;
}

h5 {
  margin: 0;
  color: white;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

p {
  color: black;
  padding: 0;
  width: 80%;
}

.fa-utensils {
  color: white;
  padding-right: 0.8rem;
}

.fa-hands-helping {
  color: white;
  padding-right: 0.3rem;
}

.fa-arrow-left {
  color: black;
}

.btn {
  border: 0;
  border-radius: 1.5rem;
  padding: 0.75rem 1rem;
  color: white;
  background-color: #FF79DA;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition-duration: 0.25s;
}
.btn:hover {
  transform: scale(1.13);
}

.btncommander {
  margin: 30px 0 30px 70px;
  padding: 15px 50px;
}

header {
  padding: 0.5rem 0 0 0;
  margin-bottom: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  text-align: center;
  position: relative;
}

#header__logo {
  font-family: Shrikland, "cursive";
  text-align: center;
}

footer {
  background-color: #353535;
  padding: 1rem 0 1rem 0;
}

.footer__logo {
  font-size: 1.3rem;
  color: #FFF;
  font-family: Shrikhand, "cursive";
  padding: 0.2rem 0 0 1rem;
  object-fit: cover;
}

.Footer__Menu {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0.2rem 0 0 1rem;
}

.Footer__Mention {
  padding: 0.2rem 0 0 1rem;
}

.MenuAccueil {
  width: 100%;
  background-color: #f3f2f2;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
}
.MenuAccueil .MenuAccueil p {
  text-align: center;
}

.chargement {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.7);
  animation: chargement 3.8s forwards;
}

@keyframes chargement {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  display: flex;
  align-items: center;
}

.obj {
  width: 6px;
  height: 40px;
  background: #ff66b3;
  margin: 0 3px;
  border-radius: 10px;
  animation: load 0.5s forwards;
  animation-iteration-count: 6;
}

@keyframes load {
  0% {
    height: 0;
  }
  50% {
    height: 40px;
  }
  100% {
    height: 0;
  }
}
.obj:nth-child(1) {
  background: #66b3ff;
}

.obj:nth-child(2) {
  background: #ff79da;
  animation-delay: 0.1s;
}

.obj:nth-child(3) {
  background: #9356dc;
  animation-delay: 0.2s;
}

.obj:nth-child(4) {
  background: #99e2d0;
  animation-delay: 0.3s;
}

.obj:nth-child(5) {
  background: #66b3ff;
  animation-delay: 0.4s;
}

.obj:nth-child(6) {
  background: #ff79da;
  animation-delay: 0.5s;
}

.obj:nth-child(7) {
  background: #9356dc;
  animation-delay: 0.6s;
}

.obj:nth-child(8) {
  background: #99e2d0;
  animation-delay: 0.7s;
}

.container__Filtres {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Fonction__Block {
  display: flex;
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: #f6f6f6;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 2rem;
}

.Fonction__Block:hover {
  background-color: #e8c8f8;
  transform: scale(1.03);
}

.Fonction__Block--numero {
  background: #c76dcf;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.Fonction__Block span {
  margin-left: -2rem;
}

.Fonction__Block--icone {
  padding: 0.2rem 1.2rem 0 1.2rem;
}

.Fonction__Block--Titre {
  padding: 0.2rem 1.5rem 0 0.5rem;
}

.Fonction__Block--Titre span {
  padding: 0.2rem 0 0 1.6rem;
}

.reservation {
  width: 100%;
  justify-content: space-around;
  text-align: center;
  background-color: #e9e9e9;
}
.reservation__local {
  padding: 1rem;
  font-size: 1.2em;
}
.reservation__local--fas {
  font-size: 1.2em;
}
.reservation__local--fas__local span {
  padding-left: 0.5rem;
}

.Restaurants--Titre {
  padding: 1rem;
  font-weight: 900;
  font-size: 1.2rem;
}

.Restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

.Restaurants__Carte {
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  margin: 0.5em;
  position: relative;
}

.Restaurants__Carte--tag {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

.Restaurants__Carte--img {
  border-radius: 1.25em 1.25em 0 0;
  object-fit: cover;
  width: 290px;
  height: 180px;
}

.Restaurants__Carte--Texte {
  font-size: 0.8rem;
  padding: 10px 0 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Coeur {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  position: relative;
  padding: 0;
}

.fa-heart {
  font-size: 1.5rem;
  padding-right: 20px;
  cursor: pointer;
}

.Restaurants__Nom p {
  font-size: 0.9rem;
  margin-top: 3px;
  margin-bottom: 15px;
}

.FonctionTitre {
  padding: 1rem;
  margin-left: 10px;
  font-weight: 900;
  font-size: 1.2rem;
}

.Titre {
  font-weight: 900;
  font-size: 1.5rem;
}

.Soustitre {
  color: black;
  padding: 0;
  width: 80%;
}

.Header__logo {
  font-family: Shrikhand, "cursive";
  text-align: center;
}

.header-Nav {
  position: absolute;
  color: black;
  padding: 33px 0 0 30px;
}

.Restaurants__Carte--image {
  max-width: 320px;
  max-height: 36rem;
  width: 100%;
  object-fit: cover;
}

.main-section {
  margin-top: -4rem;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0px 0px;
  z-index: 1;
  position: relative;
}

.Titre__Restaurant {
  font-size: 0.8rem;
  font-family: "Shrikhand";
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
}

.Menu-liste {
  background-color: #f6f6f6;
}

.Menu-block {
  padding: 0px 30px 0px 10px;
  margin: 15px;
  box-shadow: 2px 2px 5px 2px #dddddd;
  background-color: white;
  border-radius: 15px;
  transition: all 0.5s ease 0s;
  animation: 3s ease 1 normal forwards running déroulé;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: pointer;
}

@keyframes déroulé {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.Menu-block:nth-child(2) {
  animation-delay: 0.5s;
}

.Menu-block:nth-child(4) {
  animation-delay: 1s;
}

.Menu-block__suite {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.Menu-block h3 {
  font-size: 15px;
  font-weight: 600;
  color: black;
  padding: 10px 0 0 0;
  margin: 0;
}

.Menu-type__titre {
  font-size: 0.8rem;
  padding: 20px 0 5px 0;
  border-bottom: #99e2d0 solid 4px;
  width: 10%;
  margin-left: 20px;
}

@media (max-width: 400px) {
  .Titre {
    width: 80%;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .Restaurants__Carte--image {
    max-width: 375px;
  }

  .btncommander {
    margin: 30px 0 30px 100px;
    padding: 15px 50px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .Restaurants__Carte--image {
    max-width: 425px;
  }

  .btncommander {
    margin: 30px 0 30px 120px;
    padding: 15px 50px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .Titre {
    width: 100%;
    text-align: center;
  }

  h5 {
    padding-right: 10px;
    padding-top: 10px;
  }

  .Soustitre {
    width: 100%;
    text-align: center;
  }

  .Fonction__Block {
    margin-bottom: 30px;
  }

  footer {
    display: flex;
  }

  .Footer__Mention {
    display: flex;
  }

  .footer__logo {
    margin-bottom: 30px;
  }

  .Menu-block {
    width: 50%;
    margin: 20px 20px 20px 100px;
  }

  .btncommander {
    margin: 30px 0 30px 120px;
    padding: 15px 50px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .Restaurants__Carte--image {
    max-width: 768px;
  }

  p {
    text-align: center;
  }

  .btncommander {
    margin: 30px 0 30px 290px;
    padding: 15px 50px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .Menu-liste {
    display: flex;
    flex-wrap: wrap;
  }

  .Menu-type {
    padding-left: 25px;
  }

  .Menu-block {
    width: 100%;
  }

  .Restaurants__Carte--image {
    max-width: 1024px;
  }

  .Titre {
    width: 100%;
    text-align: center;
  }

  h5 {
    padding-right: 10px;
    padding-top: 10px;
  }

  .Soustitre {
    width: 100%;
    text-align: center;
  }

  .Restaurants {
    display: flex;
    justify-content: center;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Footer__Mention {
    display: flex;
  }

  .btncommander {
    margin: 30px 0 30px 400px;
    padding: 15px 50px;
  }
}
@media (min-width: 1440px) and (max-width: 2559px) {
  .Restaurants__Carte--image {
    max-width: 1440px;
  }

  p {
    text-align: center;
  }

  .Menu-liste {
    display: flex;
    flex-wrap: wrap;
  }

  .Menu-type {
    margin-left: 130px;
  }

  .Menu-block {
    width: 100%;
    margin-top: 40px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Footer__Mention {
    display: flex;
  }

  .btncommander {
    margin: 30px 0 30px 650px;
    padding: 15px 50px;
  }
}
@media (min-width: 2560px) and (max-width: 2799px) {
  .Restaurants__Carte--image {
    max-width: 2560px;
  }

  p {
    text-align: center;
  }

  .Menu-liste {
    display: flex;
    flex-wrap: wrap;
  }

  .Menu-type {
    margin-left: 410px;
  }

  .Menu-block {
    width: 100%;
    margin-top: 40px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Footer__Mention {
    display: flex;
  }

  .btncommander {
    margin: 30px 0 30px 1150px;
    padding: 15px 50px;
  }
}
@media (min-width: 2800px) and (max-width: 3000px) {
  .Restaurants__Carte--image {
    max-width: 2800px;
  }
}

/*# sourceMappingURL=style.css.map */
