* {
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0;
    font-family: "Roboto" , Arial , sans-serif;
}
h1 {
    margin-bottom: 2px;
    font-family: Shrikhand, "cursive";
    font-size: 1.7em;
    padding-bottom: 10px;

}
h3 {
    color: black;
    font-weight: 900;
    margin: 0;
}
h4 {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    margin: 0;
    padding: 0 0 10px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
a {
    text-decoration: none;
}
p { 
    color: black;
    padding: 0;
    width: 80%;
    overflow: hidden;
}
.fa-utensils {
    color: rgb(223, 223, 223);
    padding-right: 0.8rem;
}
.fa-hands-helping {
    color: rgb(223, 223, 223);
    padding-right: 0.3rem;
}
.fa-arrow-left {
    color: black;
    font-size: 1.2em;
}
.fa-map-marker-alt {
    margin-right: 15px;
}


