.Header__logo {
    font-family: Shrikhand, "cursive";
    text-align: center;
}
.header-Nav {
    position: absolute;
    color: black;
    padding: 29px 0 0 30px;
}
.Restaurants__Carte--image {
    max-width: 320px;
    max-height: 36rem;
    width: 100%;
    object-fit: cover;
}
.main-section {
    margin-top: -4rem;
    background-color: #f6f6f6;
    border-radius: 2rem 2rem 0px 0px;
    z-index: 1;
    position: relative;
}
.Titre__Restaurant {
    font-size: 1rem;
    font-family: "Shrikhand";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
}
.Titre__Restaurant .fa-heart {
    padding-right: 35px;
}
.Menu-liste {
    background-color: #f6f6f6;
}
.Menu-type {
    transition: all .5s ease 0s;
    animation: 3s ease 1 normal forwards running animation;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
    }
    @keyframes animation {
        0% {
        transform: translateY(-10px);
        opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .Menu-type:nth-child(2) {
        animation-delay: 0.5s;
    }
    .Menu-type:nth-child(3) {
        animation-delay: 0.8s;
    }
    .Menu-type:nth-child(4) {
        animation-delay: 1.0s;
    }
     .Menu-block {
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.10);
    margin: 10px 15px;
    overflow: hidden;
}
 .fa-check-circle {
  color: white;
  font-size: 1.6em;
  display: flex;
  align-items: center;
  transform: rotate(180deg);
  justify-content: center;
} 
.prix {
   padding: 10px;
   font-weight: bold;
}
.Menu-block__plats {
    flex-grow: 1;
    width: 5em;
    padding: 10px;
}
.Menu-block__plats h3 {
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 600;
    color: black;
    padding: 10px 0 5px 10px;
    text-align: start;
    margin: 0;  
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.Menu-type__titre {
    font-family:  "Roboto";
    font-size: 16px;
    padding: 20px 0 5px 0;
    border-bottom: #99e2d0 solid 4px;
    width: 10%;
    margin-left: 20px;
    font-weight: normal;
}
.box {
    display: flex;
    width: 80px;
    height: 81px;
    margin-right: -81px;
    transition: all 1s;
    background-color: #99e2d0;
}
.box .check {
    margin: auto;
    border-radius: 50%;
    transition: transform 1s;
    transform: rotate(0deg);
}
.Menu-block:hover > .box .check {
    transform: rotate(180deg);

}
.Menu-block:hover > .box {
    margin-right: 0;
    width: 80px;
    height: 81px;
    transition-duration: .5s;
} 