.Restaurants--Titre {
    padding: 1rem;
    font-weight: 900;
    font-size: 1.2rem;
}
.Restaurants {
    background-color: #f6f6f6;
    padding: 2rem 1rem;    
}
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}
.Restaurants__Carte {
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    margin: 0.5em;
    position: relative;
}
.Restaurants__Carte--tag {
    background-color: #99e2d0;
    color: #1b6150;
    padding: .5rem;
    border-radius: .125rem;
    position: absolute;
    top: 1rem;
    right: .75rem;
}
.Restaurants__Carte--img {
    border-radius: 1.25em 1.25em 0 0;
    object-fit: cover;
    width: 290px;
    height: 180px;  
}
.Restaurants__Carte--Texte {
    font-size: 0.8rem;
    padding: 10px 0 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Coeur {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    position: relative;
    padding: 0;
    }
    .coeur__Vide {
        &:hover {
        background-image: black;
        animation-name: couleur;
        animation-duration: 10s;
    }
}

    @keyframes couleur {
        from {
            background-image: #ff79da;
        }
        25% {
            background-image:  rgba(255,121,218,0.9);
        }
        50% {
            background-image:  rgba(147,86,220,0.25);
        }
        75% {
            background-image: rgba(180,90,180,0.6);
        }
        to {
            background-image:rgba(180,90,180,0.6);
        }
    }
.Coeur__Vide {
    position: absolute;
    padding-right: -30px;
}
.fa-heart {
    font-size: 1.5rem;
    padding-right: 20px;
}
.Restaurants__Nom p {
    font-size: 0.9rem;
    margin-top: 3px;
    margin-bottom: 15px;
}