@media (max-width:400px) {
    .Titre { 
        width: 80%;
    }
}
@media (min-width:321px) and (max-width: 375px ) {
    .Restaurants__Carte--image {
        max-width: 375px;
    }
    .btn-commander {
        margin: 30px 0 30px 100px;
        padding: 15px 50px;
    }
}
@media (min-width:376px) and (max-width: 425px ) {
    .Restaurants__Carte--image {
        max-width: 425px;
    }
    .btn-commander {
        margin: 30px 0 30px 130px;
        padding: 15px 50px;
    }
}
@media (min-width: 426px) and (max-width: 767px ) {
    .Restaurants__Carte--image {
        max-width: 767px;
    }
    .Titre {
        width: 100%;
        text-align: center;
    }
    h5 {
        padding-right: 10px;
        padding-top: 10px;
    }
    .Soustitre {
        width: 100%;
        text-align: center;
    }
    .Fonction__Block {
        margin-bottom: 30px;
    }
    footer {
        display: flex;
    }
    .footer__logo {
        margin-bottom: 30px;
    }
    .Menu-block {
        width: 50%;
        margin: 20px 20px 20px 100px;
    }
    .btn-commander {
        margin: 30px 0 30px 120px;
        padding: 15px 50px;
    }
}
@media (min-width: 768px) and (max-width:1023px) {
    .Restaurants__Carte--image {
        max-width: 1023px;
    }
    p {
        text-align: center;
    }
    .btn-commander {
        margin: 30px 0 30px 290px;
        padding: 15px 50px;
    }
}
@media (min-width: 1024px) and (max-width: 1439px) {
    
    .Restaurants__Carte {
        margin: 2em;
        justify-content: center;
    }
    .Restaurants__Carte--image {
        max-width: 1439px;
    }
    .Restaurants--Titre {
        padding: 0;
    }
    .Titre {
        width: 100%;
        text-align: center;
    }
    h5 {
        padding-right: 10px;
        padding-top: 10px;
    }
    .Soustitre {
        width: 100%;
        text-align: center;
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Footer__Mention {
        display: flex;
    }
    .btn-commander {
        margin: 30px 0 30px 440px;
        padding: 15px 50px;
    }
    }
@media (min-width: 1440px) and (max-width: 2559px) {
    .Restaurants__Carte--image {
        max-width: 2559px;
    }
    p {
        text-align: center;
    }
    .Menu-block {
        margin-top: 40px;
    }
    .footer__logo {
        padding-bottom: 0.7rem;
    }
    .Menu-block__plats h3 {
        font-size: 22px;
    }
    .fa-check-circle {
        color: white;
        font-size: 1.6em;
        display: flex;
        align-items: center;
        transform: rotate(180deg);
        justify-content: center;
      } 
      .box {
        display: flex;
        width: 90px;
        height: 90px;
        margin-right: -90px;
        transition: all 1s;
        background-color: #99e2d0;
    }
    .box .check {
        margin: auto;
        border-radius: 50%;
        transition: transform 1s;
        transform: rotate(0deg);
    }
    .Menu-block:hover > .box .check {
        transform: rotate(180deg);
    
    }
    .Menu-block:hover > .box {
        margin-right: 0;
        width: 90px;
        height: 90px;
        transition-duration: .5s;
    } 
    h4 {
        font-size: 20px;
    }
    .prix {
        font-size: 20px;
    }
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Footer__Mention {
    display: flex;
}
.Footer__Mail {
    display: flex;
    justify-content: space-around;
}
.btn-commander {
    margin: 30px 0 30px 650px;
    padding: 15px 50px;
}
}
@media (min-width: 2560px) and (max-width: 2799px) {
.Restaurants__Carte--image {
    max-width: 2560px;
}
p {
    text-align: center;
}
.Menu-block {
    width: 100%;
    margin-top: 40px;
}
footer {
display: flex;
justify-content: space-around;
align-items: center;
}
.Footer__Mention {
display: flex;
}
.btn-commander {
    margin: 30px 0 30px 1150px;
    padding: 15px 50px;
}
}
@media (min-width: 2800px) and (max-width: 3000px) {
    .Restaurants__Carte--image {
        max-width: 2800px;
    }
    .footer__logo {
        padding-bottom: 10rem;
    }
}